/* Stilizimi i aplikacionit */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Navbar-i */
.navbar {
  background-color: #333;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 1.8em;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 15px;
}

.nav-links {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  transition: color 0.3s ease;
}

.nav-links:hover {
  color: #e60000; /* Ngjyra kur kalohet mbi linkun */
}

/* Home */
.home {
  padding: 50px;
}

.home h2 {
  color: #333;
}

.home p {
  color: #666;
  font-size: 1.2em;
}

/* Stilizimi i faqeve të tjera */
.about-us, .contact-us, .courses-list, .professors-list {
  padding: 20px;
  background-color: #f4f4f4;
  margin: 20px auto;
  border-radius: 8px;
  width: 80%;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
